node_modules
/src/node_modules
dist/
test
build/
my_node_modules
lint
packages
/src/components/u*
/src/components/zm*
/src/components/qiun*
/src/uni_modules/*
/src/wxcomponents
/src/unpackage
uni.scss
/src/node_modules
/src/api/basic
/src/api/network
/src/api/MockModel.js
/src/config.js
/src/config/
/src/config.js
/src/static/
/src/common/
/src/lib/
/src/network
/src
*.md
*.json
*.ttf
*.scss
*.png
*.jpg
*.html
.hbuilderx
pages.json
src/components/u-charts/*
/src/pages/template/*
/src/components/zmm-watermark/zmm-watermark.vue
/src/components/super-form/super-form-item.vue
/src/components/prevent/*

